@inject SignInManager<ApplicationUser> signmanager
@model RagisterModel
    @{
    ViewData["Title"] = "Contact Us";
    }
    @{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    }
    <link href="~/css/BecomeAHelper.css" rel="stylesheet" />
    <div class="back_img_banner" style="background-image: url(../img/becomservices.png);">

        <div style="border: 0.1px solid black;visibility: hidden;"></div>

        <div class="for_ragister">
            <div class="ragister_form">
                <h1 class="ragister_text">Ragister Now!</h1>
                <form asp-action="SignUpServiceProvider" asp-controller="Account" class="form">
                    <input type="text" placeholder="First Name" class="for_input" asp-for="FirstName"><br>
                    <input type="text" placeholder="Last Name" class="for_input" asp-for="LastName"><br>
                    <input type="email" placeholder="Email Address" class="for_input" asp-for="Email"><br>
                    <div style="display: flex;" class="for_phone">
                        <input type="text" value="+46" class="fixed_phone_val">
                        <input type="text" placeholder="Phone Number" class="for_input_phone" asp-for="PhoneNumber"><br>
                    </div>
                    <input type="password" placeholder="Password" class="for_input" asp-for="PassWord"/><br>
                    <div style="display: flex;">
                        <input type="checkbox" required name="" id="newsletter" class="for_cheakbox"><label for="newsletter" class="for_cheakbox_text">Send me newsletters from Helperland</label><br>
                    </div>
                    <div style="display: flex;">
                        <input type="checkbox" required name="" id="term&con" class="for_cheakbox"><label for="term&con" class="for_cheakbox_text">I accept <span style="color: #1fb6ff;">terms and conditions</span>& <span style="color: #1fb6ff;">privacy policy</span></label><br>
                    </div>
                    <div class="for_main_robot">
                        <div class="for_robot">
                            <input type="checkbox" required name="" id="robot" class="for_cheakbox"><label for="robot" class="for_cheakbox_text" style="font-weight: bold;">I'm Not a Robot</label><br>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <button type="submit" class="for_form_btn">Get Started <i class="fa fa-long-arrow-right"></i></button>
                    </div>
                </form>
            </div>
        </div>

        <div class="for_arrow"><i class="fa fa-chevron-circle-down"></i></div>
    </div>
    <!-- How its Work -->
    <section>
        <div class="main_for_work">
            <!-- background image -->
            <div class="back_img1"><img src="~/img/forma-15.png" alt=""></div>
            <div class="back_img2"><img src="~/img/forma-16.png" alt=""></div>
            <div class="back_img3"><img src="~/img/forma-19.png" alt=""></div>
            <div class="back_img4"><img src="~/img/forma-20.png" alt=""></div>
            <div class="back_img5"><img src="~/img/forma-17.png" alt=""></div>
            <div class="back_img6"><img src="~/img/forma-18.png" alt=""></div>

            <div class="sub_work">
                <div class="first_child_work">
                    <h2 class="first_child_text">How It Works</h2>
                </div>
                <div class="secound_child_work">
                    <div class="for_work_text">
                        <h3 class="work_text_head">Register Your Self </h3>
                        <p class="for_work_text_body">Provide Your Basic information To register <br> your self a services provider</p><br>
                        <p class="for_work_text_body">Read more<i class="fa fa-long-arrow-right" style="margin-left: 10px;"></i></p>
                    </div>
                    <div class="for_work_img">
                        <img src="~/img/group-39.png" alt="" class="work_img1">
                    </div>
                </div>

                <div class="secound_child_work">
                    <div class="for_work_img">
                        <img src="~/img/group-38.png" alt="" class="work_img1">
                    </div>
                    <div class="for_work_text2">
                        <h3 class="work_text_head">Get service requests</h3>
                        <p class="for_work_text_body">You will get service requests from <br>customes depend on service area and profile.</p><br>
                        <p class="for_work_text_body">Read more<i class="fa fa-long-arrow-right" style="margin-left: 10px;"></i></p>
                    </div>
                </div>

                <div class="secound_child_work">
                    <div class="for_work_text">
                        <h3 class="work_text_head">Complete service </h3>
                        <p class="for_work_text_body">Accept service requests from your <br> customersand complete your work.</p><br>
                        <p class="for_work_text_body">Read more<i class="fa fa-long-arrow-right" style="margin-left: 10px;"></i></p>
                    </div>
                    <div class="for_work_img">
                        <img src="~/img/group-37.png" alt="" class="work_img1">
                    </div>
                </div>
            </div>
            <!-- get our newsletter -->
            <div class="sellr_main_div">
                <div style="text-align: center;">
                    <p class="seller_text">GET OUR NEWSLETTER</p>
                    <input type="email" placeholder="Your Email" class="for_email">
                    <input type="submit" class="for_submit">
                </div>
            </div>
        </div>
    </section>
    <section>
        <!-- footer -->
        <div class="for_footer">
            <div class="perent_footer">
                <div class="first_child">
                    <img src="~/img/white-logo-transparent-background-copy-4.png" alt="" class="footer_logo">
                </div>
                <div class="secound_child">
                    <ul class="footer_ul">
                        <li class="footer_nav">Home</li>
                        <li class="footer_nav">About</li>
                        <li class="footer_nav">TESTIMONIALS</li>
                        <LI class="footer_nav">FAQS</LI>
                        <li class="footer_nav" style="text-align: center;">INSURANCE POLICY</li>
                        <li class="footer_nav">IMPRESSUM</li>
                    </ul>
                </div>
                <div class="third_child">
                    <i class="fa fa-facebook-square for_facebook"></i>
                    <i class="fa fa-instagram for_insta"></i>
                </div>
            </div>
            <hr class="hr_4">
            <div class="term_con">
                <p>©2018 Helperland. All rights reserved.   Terms and Conditions | Privacy Policy</p>
            </div>
        </div>
    </section>
