@{
    ViewData["Title"] = "faqs";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <link href="~/css/Faqs.css" rel="stylesheet" />
    <section> 
        <!-- banner img -->
        <img src="~/img/faq-banner.png" class="responsive_img" alt="">
    </section>

    <!-- faq -->
    <section>
        <div class="faqs_div">
            <div class="faqs_text">
                <p class="faqs">FAQs</p>
                <div class="design_star" style="display:flex;justify-content:center">
                    <hr class="hori_line_1">
                    <img src="~/img/separator.png" style="width:24px;height:25px;" alt="">
                    <hr class="hori_line_2">
                </div>
            </div>

            <div class="main_faq">
                <div>
                    <p class="faqs_text1">weather you are customer or services provider, <br>We have to tried our best to solve your queries and questions</p>
                </div>
                <div class="perent_faqs">
                    <div class="for_customer">
                        <h2 class="customer_text">For Customers</h2>
                    </div>
                    <div class="for_provider">
                        <h2 class="provider_text">For Services Provider</h2>
                    </div>
                </div>

                <div style="margin-top: 43px;">
                    <div style="display: flex;">
                        <div class="aro_img">
                            <img src="~/img/vector-smart-object-copy.png" alt="" id="flip1">
                        </div>
                        <div>
                            <p class="inst">ipsum dolor sit amet consectetur adipisicing elit. Error, ratione. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, reiciendis.</p>
                            <p class="hidden_text" id="panel1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, quasi alias debitis ullam harum laudantium veritatis accusamus exercitationem velit, inventore autem sit ab dolorum possimus obcaecati soluta, itaque deserunt perferendis officia in cum cupiditate ipsa laborum! Corrupti suscipit, iure excepturi quis eos odit eveniet labore iusto. Pariatur exercitationem eum tenetur at aspernatur maiores maxime dolor, commodi voluptatibus adipisci dolores sapiente officiis tempora voluptas sequi iste amet rem dicta accusamus reprehenderit omnis. Rem reiciendis nobis natus soluta incidunt, nesciunt molestiae dolores labore iure expedita ab nam. Atque obcaecati repellat necessitatibus doloremque similique dolor, dolorem nesciunt impedit, facilis quod architecto perferendis qui.</p>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="aro_img">
                            <img src="~/img/vector-smart-object-copy.png" alt="" id="flip2">
                        </div>
                        <div>
                            <p class="inst">ipsum dolor sit amet consectetur adipisicing elit. Error, ratione. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, reiciendis.</p>
                            <p class="hidden_text" id="panel2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, quasi alias debitis ullam harum laudantium veritatis accusamus exercitationem velit, inventore autem sit ab dolorum possimus obcaecati soluta, itaque deserunt perferendis officia in cum cupiditate ipsa laborum! Corrupti suscipit, iure excepturi quis eos odit eveniet labore iusto. Pariatur exercitationem eum tenetur at aspernatur maiores maxime dolor, commodi voluptatibus adipisci dolores sapiente officiis tempora voluptas sequi iste amet rem dicta accusamus reprehenderit omnis. Rem reiciendis nobis natus soluta incidunt, nesciunt molestiae dolores labore iure expedita ab nam. Atque obcaecati repellat necessitatibus doloremque similique dolor, dolorem nesciunt impedit, facilis quod architecto perferendis qui.</p>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="aro_img">
                            <img src="~/img/vector-smart-object-copy.png" alt="" id="flip3">
                        </div>
                        <div>
                            <p class="inst">ipsum dolor sit amet consectetur adipisicing elit. Error, ratione. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, reiciendis.</p>
                            <p class="hidden_text" id="panel3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, quasi alias debitis ullam harum laudantium veritatis accusamus exercitationem velit, inventore autem sit ab dolorum possimus obcaecati soluta, itaque deserunt perferendis officia in cum cupiditate ipsa laborum! Corrupti suscipit, iure excepturi quis eos odit eveniet labore iusto. Pariatur exercitationem eum tenetur at aspernatur maiores maxime dolor, commodi voluptatibus adipisci dolores sapiente officiis tempora voluptas sequi iste amet rem dicta accusamus reprehenderit omnis. Rem reiciendis nobis natus soluta incidunt, nesciunt molestiae dolores labore iure expedita ab nam. Atque obcaecati repellat necessitatibus doloremque similique dolor, dolorem nesciunt impedit, facilis quod architecto perferendis qui.</p>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="aro_img">
                            <img src="~/img/vector-smart-object-copy.png" alt="" id="flip4">
                        </div>
                        <div>
                            <p class="inst">ipsum dolor sit amet consectetur adipisicing elit. Error, ratione. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, reiciendis.</p>
                            <p class="hidden_text" id="panel4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, quasi alias debitis ullam harum laudantium veritatis accusamus exercitationem velit, inventore autem sit ab dolorum possimus obcaecati soluta, itaque deserunt perferendis officia in cum cupiditate ipsa laborum! Corrupti suscipit, iure excepturi quis eos odit eveniet labore iusto. Pariatur exercitationem eum tenetur at aspernatur maiores maxime dolor, commodi voluptatibus adipisci dolores sapiente officiis tempora voluptas sequi iste amet rem dicta accusamus reprehenderit omnis. Rem reiciendis nobis natus soluta incidunt, nesciunt molestiae dolores labore iure expedita ab nam. Atque obcaecati repellat necessitatibus doloremque similique dolor, dolorem nesciunt impedit, facilis quod architecto perferendis qui.</p>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="aro_img">
                            <img src="~/img/vector-smart-object-copy.png" alt="" id="flip5">
                        </div>
                        <div>
                            <p class="inst">ipsum dolor sit amet consectetur adipisicing elit. Error, ratione. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, reiciendis.</p>
                            <p class="hidden_text" id="panel5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, quasi alias debitis ullam harum laudantium veritatis accusamus exercitationem velit, inventore autem sit ab dolorum possimus obcaecati soluta, itaque deserunt perferendis officia in cum cupiditate ipsa laborum! Corrupti suscipit, iure excepturi quis eos odit eveniet labore iusto. Pariatur exercitationem eum tenetur at aspernatur maiores maxime dolor, commodi voluptatibus adipisci dolores sapiente officiis tempora voluptas sequi iste amet rem dicta accusamus reprehenderit omnis. Rem reiciendis nobis natus soluta incidunt, nesciunt molestiae dolores labore iure expedita ab nam. Atque obcaecati repellat necessitatibus doloremque similique dolor, dolorem nesciunt impedit, facilis quod architecto perferendis qui.</p>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="aro_img">
                            <img src="~/img/vector-smart-object-copy.png" alt="" id="flip6">
                        </div>
                        <div>
                            <p class="inst">ipsum dolor sit amet consectetur adipisicing elit. Error, ratione. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, reiciendis.</p>
                            <p class="hidden_text" id="panel6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, quasi alias debitis ullam harum laudantium veritatis accusamus exercitationem velit, inventore autem sit ab dolorum possimus obcaecati soluta, itaque deserunt perferendis officia in cum cupiditate ipsa laborum! Corrupti suscipit, iure excepturi quis eos odit eveniet labore iusto. Pariatur exercitationem eum tenetur at aspernatur maiores maxime dolor, commodi voluptatibus adipisci dolores sapiente officiis tempora voluptas sequi iste amet rem dicta accusamus reprehenderit omnis. Rem reiciendis nobis natus soluta incidunt, nesciunt molestiae dolores labore iure expedita ab nam. Atque obcaecati repellat necessitatibus doloremque similique dolor, dolorem nesciunt impedit, facilis quod architecto perferendis qui.</p>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="aro_img">
                            <img src="~/img/vector-smart-object-copy.png" alt="" id="flip7">
                        </div>
                        <div>
                            <p class="inst">ipsum dolor sit amet consectetur adipisicing elit. Error, ratione. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, reiciendis.</p>
                            <p class="hidden_text" id="panel7">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, quasi alias debitis ullam harum laudantium veritatis accusamus exercitationem velit, inventore autem sit ab dolorum possimus obcaecati soluta, itaque deserunt perferendis officia in cum cupiditate ipsa laborum! Corrupti suscipit, iure excepturi quis eos odit eveniet labore iusto. Pariatur exercitationem eum tenetur at aspernatur maiores maxime dolor, commodi voluptatibus adipisci dolores sapiente officiis tempora voluptas sequi iste amet rem dicta accusamus reprehenderit omnis. Rem reiciendis nobis natus soluta incidunt, nesciunt molestiae dolores labore iure expedita ab nam. Atque obcaecati repellat necessitatibus doloremque similique dolor, dolorem nesciunt impedit, facilis quod architecto perferendis qui.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- get our newsletter -->
        <div class="sellr_main_div">
            <div style="text-align: center;">
                <p class="seller_text">GET OUR NEWSLETTER</p>
                <input type="email" placeholder="Your Email" class="for_email">
                <input type="submit" class="for_submit">
            </div>
        </div>
    </section>
</body>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#flip1").click(function () {
                $("#flip1").toggleClass("aro");
                $("#panel1").slideToggle("slow");
            });
            $("#flip2").click(function () {
                $("#flip2").toggleClass("aro");
                $("#panel2").slideToggle("slow");
            });
            $("#flip3").click(function () {
                $("#flip3").toggleClass("aro");
                $("#panel3").slideToggle("slow");
            });
            $("#flip4").click(function () {
                $("#flip4").toggleClass("aro");
                $("#panel4").slideToggle("slow");
            });
            $("#flip5").click(function () {
                $("#flip5").toggleClass("aro");
                $("#panel5").slideToggle("slow");
            });
            $("#flip6").click(function () {
                $("#flip6").toggleClass("aro");
                $("#panel6").slideToggle("slow");
            });
            $("#flip7").click(function () {
                $("#flip7").toggleClass("aro");
                $("#panel7").slideToggle("slow");
            });
            $("#flip8").click(function () {
                $("#flip8").toggleClass("aro");
                $("#panel8").slideToggle("slow");
            });
        });
    </script>
}