@{
    ViewData["Title"] = "Home Page";
}
@{ 
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<body>
    <section>
        <div class="back_img_banner">
            <div class="nav_div">
                <nav class="navbar navbar-expand-xl navbar-dark nav_bar">
                    <img src="~/img/white-logo-transparent-background.png" class="main_logo">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav ml-auto" style="align-items: center;">
                            <li class="nav-item book_now">
                                <a class="nav-link book_now_text" href="#"><span class="book_now_text">Book Now</span></a>
                            </li>
                            <li class="nav-item pri_ser">
                                <a class="nav-link" asp-controller="Home" asp-action="prices"><span class="book_now_text">Prices & services</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span class="book_now_text other_btn">Warranty</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span class="book_now_text other_btn">Blog</span></a>
                            </li>
                            <li class="nav-item"> 
                                <a class="nav-link" asp-controller="Home" asp-action="Contact"><span class="book_now_text other_btn">Contact Us</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link login" href="#"><span class="login_text">Login</span></a>
                            </li>
                            <li class="nav-item pri_ser">
                                <a class="nav-link" href="#"><span class="login_text">Become a Helper</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link text-white"><img src="~/img/flag.png" style="margin-right:7px ;"><i class="fa fa-chevron-down" style="color: white;"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div style="border: 0.1px solid black;display: hide;visibility: hidden;"></div>

            <div class="perent_home_div">
                <div class="child1_home">
                    <h1 class="child1_heading_text">Lorem ipsum  elit.</h1>
                    <div style="display: flex;">
                        <div>
                            <i class="fa fa-check" style="color: #ffff;"></i>
                        </div>
                        <div>
                            <p class="child1_home_text"> ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div>
                            <i class="fa fa-check" style="color: #ffff;"></i>
                        </div>
                        <div>
                            <p class="child1_home_text"> ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div>
                            <i class="fa fa-check" style="color: #ffff;"></i>
                        </div>
                        <div>
                            <p class="child1_home_text"> ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="child2_home">
                    <Button value="" class="child2_btn">Let's Book Cleaner</Button>
                </div>
            </div>

            <div>
                <div class="home_ser_perent_img">
                    <div class="home_ser_child_img">
                        <img src="~/img/forma-1-copy.png" alt="" class="child_img">
                        <p class="child_img_text">Enter Your Postcode</p>
                    </div>
                    <div class="home_ser_child_arrow">
                        <img src="~/img/step-arrow-1.png" alt="">
                    </div>
                    <div class="home_ser_child_img">
                        <img src="~/img/group-22.png" alt="" class="child_img">
                        <p class="child_img_text">Enter Your Postcode</p>
                    </div>
                    <div class="home_ser_child_arrow">
                        <img src="~/img/step-arrow-1-copy.png" alt="">
                    </div>
                    <div class="home_ser_child_img">
                        <img src="~/img/forma-1.png" alt="" class="child_img">
                        <p class="child_img_text">Enter Your Postcode</p>
                    </div>
                    <div class="home_ser_child_arrow">
                        <img src="~/img/step-arrow-1.png" alt="">
                    </div>
                    <div class="home_ser_child_img">
                        <img src="~/img/forma-3.png" alt="" class="child_img">
                        <p class="child_img_text">Enter Your Postcode</p>
                    </div>
                </div>
            </div>

            <div class="down_arrow">
                <i class="fa fa-arrow-circle-o-down"></i>
            </div>
        </div>
    </section>

    <!-- why helplerland -->
    <section>
        <div class="main_div_help">
            <div>
                <h1 class="heading_text_help">Why Helperland</h1>
            </div>
            <div class="perent_helplland">
                <div class="child1_help">
                    <div>
                        <img src="~/img//group-21.png" alt="">
                        <h1 class="child_text">Experince & Vetted Professionals</h1>
                    </div>
                    <div class="helpland_text">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae iste sapiente nostrum totam odio eum possimus et harum voluptas placeat?</p>
                    </div>
                </div>
                <div class="child2_help">
                    <div>
                        <img src="~/img//group-23.png" alt="">
                        <h1 class="child_text1">Secure online Payment</h1>
                    </div>
                    <div class="helpland_text">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae iste sapiente nostrum totam odio eum possimus et harum voluptas placeat?</p>
                    </div>
                </div>
                <div class="child3_help">
                    <div>
                        <img src="~/img//group-24.png" alt="">
                        <h1 class="child_text">Dedicated Customer Services</h1>
                    </div>
                    <div class="helpland_text">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae iste sapiente nostrum totam odio eum possimus et harum voluptas placeat?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- our blog -->
    <section>
        <div style="position: relative;">
            <!-- background image -->
            <div class="back_img1"><img src="~/img/forma-15.png" alt=""></div>
            <div class="back_img2"><img src="~/img/forma-16.png" alt=""></div>
            <div class="back_img3"><img src="~/img/forma-19.png" alt=""></div>
            <div class="back_img4"><img src="~/img/forma-20.png" alt=""></div>
            <div class="back_img5"><img src="~/img/forma-17.png" alt=""></div>
            <div class="back_img6"><img src="~/img/forma-18.png" alt=""></div>
            <div class="main_our_blog_div">
                <div class="ourblog_div">
                    <div class="perent_div_three">
                        <div class="child1_three">
                            <h1 class="child1_three_heading">Lorem ipsum dolor sit amet,<br> consectetur.</h1>
                            <p class="child1_three_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, quibusdam Lorem ipsum dolor sit amet consectetur adipisicing..</p>
                            <p class="child1_three_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur amet consectetur quam ullam eius sit, itaque atque magni perspiciatis cum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, quis?</p>
                            <p class="child1_three_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis velit fuga, natus aut at quod Lorem ipsum dolor sit amet consectetur..</p>
                        </div>
                        <div class="child2_three">
                            <img src="~/img/group-36.png" alt="">
                        </div>
                    </div>

                    <div style="text-align: center;">
                        <h1 class="our_blog_heading">Our Blog</h1>
                    </div>
                    <div class="our_blog_perent">
                        <div class="child1_blog">
                            <img src="~/img/group-28.png" style="width: 100%;" alt="">
                            <h1 class="blog_heading">Lorem ipsum dolor sit amet consectetur.</h1>
                            <p class="date_text">January 28,2019</p>
                            <p class="blog_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quibusdam iure reprehenderit consequuntur assumenda aliquam?</p>
                            <div style="display: flex;">
                                <p class="read_post">Read the post </p>
                                <i class="fa fa-long-arrow-right"></i>
                            </div>
                        </div>
                        <div class="child1_blog">
                            <img src="~/img/group-28.png" style="width: 100%;" alt="">
                            <h1 class="blog_heading">Lorem ipsum dolor sit amet consectetur.</h1>
                            <p class="date_text">January 28,2019</p>
                            <p class="blog_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quibusdam iure reprehenderit consequuntur assumenda aliquam?</p>
                            <div style="display: flex;">
                                <p class="read_post">Read the post </p>
                                <i class="fa fa-long-arrow-right"></i>
                            </div>
                        </div>
                        <div class="child1_blog">
                            <img src="~/img/group-30.png" style="width: 100%;" alt="">
                            <h1 class="blog_heading">Lorem ipsum dolor sit amet consectetur.</h1>
                            <p class="date_text">January 28,2019</p>
                            <p class="blog_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quibusdam iure reprehenderit consequuntur assumenda aliquam?</p>
                            <div style="display: flex;">
                                <p class="read_post">Read the post </p>
                                <i class="fa fa-long-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- customer -->

    <section>
        <div class="cus_div">
            <div class="main_cus_div">
                <div class="ourblog_div">
                    <div style="text-align: center;">
                        <h1 class="cus_heading">What Our Customers Say</h1>
                    </div>
                    <div class="our_blog_perent">
                        <div class="customer_1">
                            <div class="vl"></div>
                            <div class="cus_img">
                                <img src="~/img/group-31.png" alt="">
                                <div class="city_cus_name">
                                    <h2 class="customer_name1">Lars Johnson</h2>
                                    <p class="city">Manchester</p>
                                </div>
                            </div>
                            <div>
                                <p class="cus_re">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui deleniti facere architecto accusamus iure laboriosam amet perspiciatis ipsum dolores cumque!</p>
                                <p class="cus_re">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, distinctio!</p>
                            </div>
                            <div style="display: flex;">
                                <p class="read_post">Read the post </p>
                                <i class="fa fa-long-arrow-right"></i>
                            </div>
                        </div>
                        <div class="customer_2">
                            <div class="vl"></div>
                            <div class="cus_img">
                                <img src="~/img/group-31.png" alt="">
                                <div class="city_cus_name">
                                    <h2 class="customer_name1">Lars Johnson</h2>
                                    <p class="city">Manchester</p>
                                </div>
                            </div>
                            <div>
                                <p class="cus_re">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui deleniti facere architecto accusamus iure laboriosam amet perspiciatis ipsum dolores cumque!</p>
                                <p class="cus_re">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, distinctio!</p>
                            </div>
                            <div style="display: flex;">
                                <p class="read_post">Read the post </p>
                                <i class="fa fa-long-arrow-right"></i>
                            </div>
                        </div>
                        <div class="customer_3">
                            <div class="vl"></div>
                            <div class="cus_img">
                                <img src="~/img/group-31.png" alt="">
                                <div class="city_cus_name">
                                    <h2 class="customer_name1">Lars Johnson</h2>
                                    <p class="city">Manchester</p>
                                </div>
                            </div>
                            <div>
                                <p class="cus_re">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui deleniti facere architecto accusamus iure laboriosam amet perspiciatis ipsum dolores cumque!</p>
                                <p class="cus_re">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, distinctio!</p>
                            </div>
                            <div style="display: flex;">
                                <p class="read_post">Read the post </p>
                                <i class="fa fa-long-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- get newsletter -->
            <div class="container-fluid">
                <div class="get_new_perent">
                    <div class="get_new_child1">
                        <i class="fa fa-chevron-circle-up"></i>
                    </div>
                    <div class="get_new_child2">
                        <div class="sellr_main_div">
                            <div style="text-align: center;">
                                <p class="letter_text">GET OUR NEWSLETTER</p>
                                <input type="email" placeholder="Your Email" class="for_email">
                                <input type="submit" class="for_submit">
                            </div>
                        </div>
                    </div>
                    <div class="get_new_child3">
                        <img src="~/img/layer-598.png" alt="" class="time_img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <section>
        <div class="for_footer">
            <div class="perent_footer">
                <div class="first_child">
                    <img src="~/img/white-logo-transparent-background-copy-4.png" alt="" class="footer_logo">
                </div>
                <div class="secound_child">
                    <ul class="footer_ul">
                        <a asp-controller="Home" asp-action="Index" style="text-decoration:none">
                        <li class="footer_nav">Home</li></a>
                        <a asp-controller="Home" asp-action="About" style="text-decoration:none">
                        <li class="footer_nav">About</li></a>
                        <li class="footer_nav">TESTIMONIALS</li>
                        <a asp-controller="Home" asp-action="faqs" style="text-decoration:none">
                        <LI class="footer_nav">FAQS</LI></a>
                        <li class="footer_nav" style="text-align: center;">INSURANCE POLICY</li>
                        <li class="footer_nav">IMPRESSUM</li>
                    </ul>
                </div>
                <div class="third_child">
                    <i class="fa fa-facebook-square for_facebook"></i>
                    <i class="fa fa-instagram for_insta"></i>
                </div>
            </div>
            <hr class="hr_4">
            <div class="term_con">
                <p>©2018 Helperland. All rights reserved.   Terms and Conditions | Privacy Policy</p>
            </div>
        </div>
    </section>
</body>
