.hori_line_1{
    width: 20px;
    background-color: black;
    margin-right: 5px;
    width: 62px;
    height: 1px;
    background-color: #ccc;
}
.hori_line_2{
    width: 20px;
    background-color: black;
    margin-left: 5px;
    width: 62px;
    height: 1px;
    background-color: #ccc;
}

.extra_ser_text{
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #646464;
  margin-top: 17px;
  margin-bottom: 12px;
}
.extra_ser_text_1{
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #1d7a8c;
}

.inc_cle_text{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #4f4f4f;
    margin-top: 23px;
    margin-bottom: 18px;
}
.inc_cle_text_1{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    color: #4f4f4f;
}
.help_text{
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #646464;
}
.help_text_1{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #646464;
}