/* faq */
/* heading */
.design_star {
    display: flex;
    align-items: center;
}

.hori_line_1 {
    background-color: black;
    margin-right: 5px;
    width: 62px;
    height: 1px;
    background-color: #ccc;
}

.hori_line_2 {
    background-color: black;
    margin-left: 5px;
    width: 62px;
    height: 1px;
    background-color: #ccc;
}

.faqs_text {
    margin-bottom: 34px;
    margin-top: 31px;
}

.faqs {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
    margin-bottom: 9px;
}

.faqs_text1 {
    font-family: Roboto;
    text-align: center;
    line-height: 1.44;
    font-size: 18px;
    color: #646464;
    margin-top: 37px;
}

/* customer & provider*/
.faqs_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_faq {
    width: 931px;
    height: auto;
}

.perent_faqs {
    display: flex;
    margin-top: 36px;
}

.for_customer {
    flex: 50%;
    background-color: #1d7a8c;
    width: 472px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for_provider {
    flex: 50%;
    background-color: #f6f6f6;
    width: 472px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer_text, .provider_text {
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.17;
    letter-spacing: normal;
    color: white;
    margin: 0;
}

.provider_text {
    color: #646464;
}

.hidden_text {
    font-family: Roboto;
    font-size: 16px;
    color: #646464;
    display: none;
}

.inst {
    font: 16px;
    color: #646464;
    font-weight: bold;
}

.aro {
    transform: rotate(90deg);
}

.aro_img {
    cursor: pointer;
    margin-right: 15px;
}
/* get our newsletters */
.seller_text {
    font-family: Roboto;
    font-size: 18px;
    color: #353548;
    font-weight: 500;
    line-height: 1.22;
    margin-top: 47px;
}

.for_email {
    border-radius: 20px;
    border: 1px solid #565656;
    width: 233px;
    height: 40px;
}

.for_submit {
    border-radius: 20px;
    background-color: #FF7B6D;
    border: none;
    width: 88px;
    height: 40px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: normal;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.sellr_main_div {
    margin-bottom: 54px;
    margin-top: 54px;
}

/* for responsive */
@media only Screen and (max-width:1350px) {
    .hr_4 {
        width: 900px;
    }
}

@media only Screen and (max-width:966px) {
    .main_faq {
        width: 700px;
    }

    .hr_4 {
        width: 700px;
    }
}

@media only Screen and (max-width:745px) {
    .for_facebook {
        margin-right: 0px;
    }

    .footer_nav {
        margin: 0px 5px;
    }

    .footer_logo {
        margin-left: 10px;
    }

    .main_faq {
        width: 500px;
    }

    .hr_4 {
        width: 600px;
    }
}

@media only Screen and (max-width:655px) {
    .footer_nav {
        margin: 0px 2px;
    }

    .footer_logo {
        width: 80px;
        margin-left: 10px;
    }

    .first_child {
        flex: 15%;
    }

    .secound_child {
        flex: 65%;
    }

    .hr_4 {
        width: 500px;
    }
}

@media only Screen and (max-width:590px) {
    .footer_ul {
        flex-direction: column;
        align-items: center;
    }

    .footer_ul {
        padding: 0;
    }

    .main_faq {
        width: 400px;
    }

    .customer_text, .provider_text {
        line-height: 1;
        text-align: center;
    }

    .hr_4 {
        width: 400px;
    }
}

@media only Screen and (max-width:415px) {
    .main_faq {
        width: 300px;
    }

    .hr_4 {
        width: 200px;
    }
}

@media only Screen and (max-width:315px) {
    .main_faq {
        width: 200px;
    }

    .customer_text, .provider_text {
        font-size: 16px;
    }
}

@media only Screen and (max-width:240px) {
    .main_faq {
        width: 150px;
    }

    .for_email {
        width: 150px;
    }

    .perent_footer {
        display: flex;
        flex-direction: column;
        height: 350px;
    }

    .footer_logo {
        margin-bottom: 20px;
    }

    .hr_4 {
        max-width: 100%;
    }
}
