<section id="servicesHistory" class="d-none">
    <div class="history_div">
        <h2>Services History</h2>
        <button>Export</button>
    </div>
    <div>
        <table class="w-100" id="servicesHistoryTable">
            <!-- row-1 -->
            <thead>
                <tr class="row_1">
                    <th>
                        <div>
                            <p class="text1">Services Details</p>
                            <img src="~/img/forma-21.png" alt="">
                        </div>
                    </th>
                    <th>
                        <div>
                            <p class="text1">Services Provider</p>
                            <img src="~/img/forma-21.png" alt="">
                        </div>
                    </th>
                    <th>
                        <div style="display: flex;justify-content: left;">
                            <p class="text1">Payment</p>
                            <img src="~/img/forma-21.png" alt="">
                        </div>
                    </th>
                    <th>
                        <div>
                            <p class="text1">Status</p>
                            <img src="~/img/forma-21.png" alt="">
                        </div>
                    </th>
                    <th>
                        <div>
                            <p class="text1">Rate SP</p>
                            <img src="~/img/forma-21.png" alt="">
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- row-2 -->
                <tr class="row_2">
                    <!-- colum-1 -->
                    <td class="colum_man">
                        <div class="col_1">
                            <img src="./img/calculator.png" alt="">
                            <p class="text1">09/05/2021</p>
                        </div>
                        <div class="col_1" style="margin-top: 7px;">
                            <img src="./img//layer-712.png" alt="">
                            <p class="text2">12:00 - 18:00</p>
                        </div>
                    </td>
                    <!-- colum-2 -->
                    <td class="colum_man">
                        <div class="col_2">
                            <div class="hat_img">
                                <img src="~/img/forma-24.png" alt="">
                            </div>
                            <div>
                                <p class="text2">Lyum Watson</p>
                                <div id=" star"></div>
                            </div>
                        </div>
                    </td>
                    <!-- colum-3 -->
                    <td class="colum_man">
                        <div class="col_3">
                            <i class="fa fa-eur doller_sign"></i>
                            <p>63</p>
                        </div>
                    </td>
                    <!-- coulm-4 -->
                    <td class="colum_man">
                        <div class="col_4">
                            <p>Compleated</p>
                        </div>
                    </td>
                    <td class="colum_man">
                        <!-- colum-5 -->
                        <button class="Rate_button">Rate SP</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>